button.blogCategoryButton-blog-categories {
  all: unset;
  background-color: #212121;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.3rem 0.75rem;

  &:hover {
    background-color: #71797e;
  }
}

button.blogCategoryButton-blog-selected-category {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;

  &:hover {
    background-color: #e5e4e2;
  }
}
